<a href="https://colab.research.google.com/github/shivam15668/pySpark/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_excel('/content/Pyspark notebook.xlsx')

     Name  age
0  Shivam   23
1     Ram   23
2   Sunny   24

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [7]:
! pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [8]:
df_pyspark = spark.read.csv('/content/Pyspark notebook.csv')
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|age|
|Shivam| 23|
|   Ram| 23|
| Sunny| 24|
+------+---+

In [10]:
df_pyspark = spark.read.option('header','true').csv('/content/Pyspark notebook.csv')
# the value of the 1st column becomes the column name, instead of default 'A', 'B' , we'll have name , age

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(3)

[Row(Name='Shivam', age='23'),
 Row(Name='Ram', age='23'),
 Row(Name='Sunny', age='24')]

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [14]:
# pyspark dataframe , reading , checking datatype , selecting and indexing , add , drop , describe

In [15]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [18]:
spark

In [21]:
## read the dataset
df_pyspark = spark.read.option('header' ,'true').csv('/content/Pyspark notebook.csv')

In [22]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [ ]:
# make inferSchema to get column vaaue as expected ,
# otherwise everyvalue will be touted as string

In [24]:
df_pyspark =spark.read.csv('/content/Pyspark notebook.csv' , header = True , inferSchema = True)

In [25]:
df_pyspark.show()

+------+---+
|  Name|age|
+------+---+
|Shivam| 23|
|   Ram| 23|
| Sunny| 24|
+------+---+

In [26]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
#dataframe is  a data structure

In [28]:
df_pyspark.head(3)
#list format is there with pyspark head

[Row(Name='Shivam', age=23),
 Row(Name='Ram', age=23),
 Row(Name='Sunny', age=24)]

In [29]:
df_pyspark.show()

+------+---+
|  Name|age|
+------+---+
|Shivam| 23|
|   Ram| 23|
| Sunny| 24|
+------+---+

In [30]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [31]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
|Shivam|
|   Ram|
| Sunny|
+------+

In [32]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [33]:
df_pyspark.select(['Name' , 'age'])

DataFrame[Name: string, age: int]

In [ ]:
#slicing will not work here , we can check

In [ ]:
# see documentation

In [34]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
# return type is column

In [35]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int')]

In [36]:
# checking describe
df_pyspark.describe().show()

+-------+-----+------------------+
|summary| Name|               age|
+-------+-----+------------------+
|  count|    3|                 3|
|   mean| NULL|23.333333333333332|
| stddev| NULL|0.5773502691896258|
|    min|  Ram|                23|
|    max|Sunny|                24|
+-------+-----+------------------+

In [ ]:
# adding and dropping columns

In [38]:
df_pyspark = df_pyspark.withColumn('Experience' , df_pyspark['age']-10)

In [39]:
df_pyspark.show()

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
|Shivam| 23|        13|
|   Ram| 23|        13|
| Sunny| 24|        14|
+------+---+----------+

In [40]:
#droping the columns

df_pyspark = df_pyspark.drop('Experience')

In [41]:
df_pyspark.show()

+------+---+
|  Name|age|
+------+---+
|Shivam| 23|
|   Ram| 23|
| Sunny| 24|
+------+---+

In [42]:
## renaming column

df_pyspark.withColumnRenamed('Name' , 'New Name').show()

+--------+---+
|New Name|age|
+--------+---+
|  Shivam| 23|
|     Ram| 23|
|   Sunny| 24|
+--------+---+

In [ ]:
## part 3 filter options
# handle missing values ,  drop column  , row , handle null
# handle missing value by mean , median , mode

In [43]:
# imputer function concept in sklearn

df_pyspark = df_pyspark.withColumn('Experience' , df_pyspark['age'] - 10 )

In [44]:
df_pyspark.show()

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
|Shivam| 23|        13|
|   Ram| 23|        13|
| Sunny| 24|        14|
+------+---+----------+

In [45]:
from pyspark.sql import SparkSession
spark  = SparkSession.builder.appName('Practise').getOrCreate()